;
; Netatalk 3.x configuration file
;

[Global]
; Global server settings
hostname = RPi3
mimic model = AirPort
; Specifies the icon model that appears on clients. Defaults to off.
; Note that afpd must support Zeroconf. Examples: RackMac (same as Xserve),
; PowerBook, PowerMac, Macmini, iMac, MacBook, MacBookPro, MacBookAir, MacPro,
; AppleTV1,1, AirPort.

log file = {{ tm_mountpoint }}/afpd.log

log level = warn

; [Homes]
; basedir regex = /xxxx

[files]
path = {{ files_mountpoint }}
time machine = no

; [My Time Machine Volume]
; path = /path/to/backup
; time machine = yes

[TimeMachine]
# is this volume a time machine?
time machine = yes

# directory for time machine data on server
path = {{ tm_mountpoint }}

# the max size of the data folder (in Kb)
#vol size limit = 980000

# users with access to time machine
valid users = bazilio

# The mining for sparsebundle is wasteful.
spotlight = no
