[Unit]
Description=Start Chia farm

Wants=network.target
After=syslog.target network-online.target

[Service]
User=bazilio
Group=bazilio
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/bazilio
ExecStart=/usr/local/bin/start-chia.sh

[Install]
WantedBy=multi-user.target
