[Global]
; Global server settings
hostname = RPi42AFP
mimic model = AirPort
; Specifies the icon model that appears on clients. Defaults to off.
; Note that afpd must support Zeroconf. Examples: RackMac (same as Xserve), 
; PowerBook, PowerMac, Macmini, iMac, MacBook, MacBookPro, MacBookAir, MacPro,
; AppleTV1,1, AirPort.

log file = {{ files_mountpoint }}/.log/afpd.log

log lever = warn

; [Homes]
; basedir regex = /xxxx

[files_rpi42_afp]
path = {{ files_mountpoint }}
time machine = no

[camera_afp]
path = {{ camera_mountpoint }}
time machine = no
