targets:
  - 10.60.0.254
  - 10.14.88.100
  - 10.14.88.254
  - 195.38.10.1
  - 1.1.1.1

dns:
  refresh: 2m15s
  nameserver: 10.60.0.254

ping:
  interval: 5s
  timeout: 3s
  history-size: 42
  payload-size: 120

options:
  disableIPv6: true
