;
; Netatalk 3.x configuration file
;

[Global]
; Global server settings
hostname = CubietruckAFP
mimic model = RackMac
; Specifies the icon model that appears on clients. Defaults to off.
; Note that afpd must support Zeroconf. Examples: RackMac (same as Xserve), 
; PowerBook, PowerMac, Macmini, iMac, MacBook, MacBookPro, MacBookAir, MacPro,
; AppleTV1,1, AirPort.

log file = {{ hdd_mountpoint }}/.log/afpd.log

log lever = warn

; [Homes]
; basedir regex = /xxxx

[torrent_afp]
path = {{ hdd_mountpoint }}
time machine = no
follow symlinks = yes

#######################################

[TimeMachine500]
# is this volume a time machine?
time machine = yes

# directory for time machine data on server
path = {{ tm500_mountpoint }}

# the max size of the data folder (in Kb)
#vol size limit = 980000

# users with access to time machine
valid users = bazilio

# The mining for sparsebundle is wasteful.
#spotlight = no
